iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        validate = true
        files {
            idkey = "irida_id"
            global = [
                "**/arborator/*cluster_summary.tsv",
                "**/arborator/*metadata.included.tsv",
                "**/arborator/*metadata.excluded.tsv",
                "**/arborator/*_metadata.tsv",
                "**/arborator/*_profile.tsv",
                "**/arborator/*_loci.summary.tsv",
                "**/arborator/*_tree.nwk",
                "**/arborator/*_matrix.tsv",
                "**/arborator/*_outliers.tsv",
                "**/arborator/*_clusters.tsv",
                "**/arborview/*_arborview.html",
                "**/arborview/*.linelist.xlsx",
                "**/arborview/*.summary.xlsx",
                "**/pipeline_info/software_versions.yml"
            ]
        }
    }
}
